footer
    padding: 20px
    text-align: center
    background-color: gray
    color: $black
    position: absolute
    bottom: 0
    left: 0
    right: 0

#defaultLayout
    min-height: 100vh
    position: relative
