<template>
  <div class="details">
      

    <mdb-card style="width: 22rem;">
        <mdb-card-header>Категории</mdb-card-header>
        <mdb-card-body>
        <mdb-card-text>Здесь можно добавить категории товаров</mdb-card-text>
        <a href="../categories">
        <mdb-btn color="deep-orange">Добавить категории</mdb-btn></a>
        </mdb-card-body>
    </mdb-card>

    <mdb-card style="width: 22rem;">
        <mdb-card-header>Модель</mdb-card-header>
        <mdb-card-body>
        <mdb-card-text>Здесь можно добавить модели товаров</mdb-card-text>
        <a href="../model">
        <mdb-btn color="deep-orange">Добавить модели</mdb-btn></a>
        </mdb-card-body>
    </mdb-card>
    <mdb-card style="width: 22rem;">
        <mdb-card-header>Цвет</mdb-card-header>
        <mdb-card-body>
        <mdb-card-text>Здесь можно добавить цвета товаров</mdb-card-text>
        <a href="../color"><mdb-btn color="deep-orange">Добавить цвета </mdb-btn></a>
        </mdb-card-body>
    </mdb-card>





  </div>

</template>

<script>
  import { mdbCard, mdbCardTitle, mdbCardText,  mdbCardBody, mdbCardHeader,  mdbBtn  } from 'mdbvue';
  export default {
    name: 'Panels',
    components: {
      mdbCard,
      mdbCardTitle,
      mdbCardText,
      mdbCardBody,
      mdbCardHeader,
      mdbBtn 
    }
  }
</script>

<style>

.details {
    display: flex;
    justify-content: space-between
}
a {
  text-decoration: none;
  color: #fff
}
</style>