<template>
<div class="nav-menu">
    <div id="sidebar">
        <ul>
            <li><a href="./">
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14.8333 2.16667V5.5H2.33334V2.16667H14.8333ZM14.8333 10.5V13.8333H2.33334V10.5H14.8333ZM15.6667 0.5H1.50001C1.04167 0.5 0.666672 0.875 0.666672 1.33333V6.33333C0.666672 6.79167 1.04167 7.16667 1.50001 7.16667H15.6667C16.125 7.16667 16.5 6.79167 16.5 6.33333V1.33333C16.5 0.875 16.125 0.5 15.6667 0.5ZM15.6667 8.83333H1.50001C1.04167 8.83333 0.666672 9.20833 0.666672 9.66667V14.6667C0.666672 15.125 1.04167 15.5 1.50001 15.5H15.6667C16.125 15.5 16.5 15.125 16.5 14.6667V9.66667C16.5 9.20833 16.125 8.83333 15.6667 8.83333Z" fill="#FFAB40"/>
            </svg> Продукция на складе</a></li>

            <li><a href="./product">
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6667 3.33333H0.666672V5H10.6667V3.33333ZM10.6667 0H0.666672V1.66667H10.6667V0ZM14 6.66667V3.33333H12.3333V6.66667H9.00001V8.33333H12.3333V11.6667H14V8.33333H17.3333V6.66667H14ZM0.666672 8.33333H7.33334V6.66667H0.666672V8.33333Z" fill="#707D83"/>
            </svg> Добавление продукции</a>
              <!-- <ul class="options">
                <li><a href="#">Категории</a></li>
                <li><a href="#">Модель</a></li>
                <li><a href="#">Цвет</a></li>
              </ul>             -->
            </li>
              
            

            <li><a href="./contracts">
            <svg width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.64167 2L8.30834 3.66667H15.6667V12H2.33334V2H6.64167ZM7.33334 0.333334H2.33334C1.41667 0.333334 0.675005 1.08333 0.675005 2L0.666672 12C0.666672 12.9167 1.41667 13.6667 2.33334 13.6667H15.6667C16.5833 13.6667 17.3333 12.9167 17.3333 12V3.66667C17.3333 2.75 16.5833 2 15.6667 2H9.00001L7.33334 0.333334Z" fill="#707D83"/>
            </svg> Контракты</a></li>

            <li><a href="./customer">
            <svg width="20" height="14" viewBox="0 0 20 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 6.99999C14.3417 6.99999 15.8333 5.50833 15.8333 3.66666C15.8333 1.82499 14.3417 0.333328 12.5 0.333328C10.6583 0.333328 9.16666 1.82499 9.16666 3.66666C9.16666 5.50833 10.6583 6.99999 12.5 6.99999ZM12.5 1.99999C13.4167 1.99999 14.1667 2.74999 14.1667 3.66666C14.1667 4.58333 13.4167 5.33333 12.5 5.33333C11.5833 5.33333 10.8333 4.58333 10.8333 3.66666C10.8333 2.74999 11.5833 1.99999 12.5 1.99999ZM12.5 8.66666C10.275 8.66666 5.83333 9.78333 5.83333 12V13.6667H19.1667V12C19.1667 9.78333 14.725 8.66666 12.5 8.66666ZM7.49999 12C7.68333 11.4 10.2583 10.3333 12.5 10.3333C14.75 10.3333 17.3333 11.4083 17.5 12H7.49999ZM4.99999 9.49999V6.99999H7.49999V5.33333H4.99999V2.83333H3.33333V5.33333H0.833328V6.99999H3.33333V9.49999H4.99999Z" fill="#707D83"/>
            </svg> Клиенты</a></li>

            <li><a href="./personal">
            <svg width="18" height="12" viewBox="0 0 18 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.50001 6C8.10834 6 9.41667 4.69166 9.41667 3.08333C9.41667 1.475 8.10834 0.166664 6.50001 0.166664C4.89167 0.166664 3.58334 1.475 3.58334 3.08333C3.58334 4.69166 4.89167 6 6.50001 6ZM6.50001 1.83333C7.19167 1.83333 7.75001 2.39166 7.75001 3.08333C7.75001 3.775 7.19167 4.33333 6.50001 4.33333C5.80834 4.33333 5.25001 3.775 5.25001 3.08333C5.25001 2.39166 5.80834 1.83333 6.50001 1.83333ZM6.54167 10.1667H2.97501C3.80001 9.75 5.22501 9.33333 6.50001 9.33333C6.59167 9.33333 6.69167 9.34167 6.78334 9.34167C7.06667 8.73333 7.55834 8.23333 8.15 7.83333C7.54167 7.725 6.96667 7.66667 6.50001 7.66667C4.55001 7.66667 0.666672 8.64167 0.666672 10.5833V11.8333H6.50001V10.5833C6.50001 10.4417 6.51667 10.3 6.54167 10.1667ZM12.75 8.08333C11.2167 8.08333 8.16667 8.925 8.16667 10.5833V11.8333H17.3333V10.5833C17.3333 8.925 14.2833 8.08333 12.75 8.08333ZM13.7583 6.56667C14.3917 6.20833 14.8333 5.53333 14.8333 4.75C14.8333 3.6 13.9 2.66666 12.75 2.66666C11.6 2.66666 10.6667 3.6 10.6667 4.75C10.6667 5.53333 11.1083 6.20833 11.7417 6.56667C12.0417 6.73333 12.3833 6.83333 12.75 6.83333C13.1167 6.83333 13.4583 6.73333 13.7583 6.56667Z" fill="#707D83"/>
            </svg>  Сотрудники</a></li>

            <li><a href="./reports">
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.166672 3.66666H2.66667V11.8333H0.166672V3.66666ZM4.83334 0.166656H7.16667V11.8333H4.83334V0.166656ZM9.50001 6.83332H11.8333V11.8333H9.50001V6.83332Z" fill="#707D83"/>
            </svg>  Аналитика</a></li>
        </ul>
    </div>
  </div>  

    
  
    
</template>

<script>
  export default {
    name: 'Header',    
    
  }
</script>


<style >
.nav-menu {  
  width: 100%;
  height: 750px;
  padding: 30px;
  
}
ul {
  list-style-type: none;   
  font-size: 14px
}
li a {
  display: block;
  color:#4D4949;
  padding: 22px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color:rgb(220, 218, 218);
  color: #4D4949;
  text-decoration: none;
}


</style>
