<template lang="pug">
    ul.paginationCmts
        li(v-for="i in max_pages" v-if="max_pages > 1", :class="i === active_page_num ? 'active' : ''")
            a(@click="click(i)") {{ i }}
</template>

<script>
    export default {
        name: 'Pagination',
        props: [
            'max_pages', 'paginate_method'
        ],
        data() {
            return {
                active_page_num: 1
            }
        },
        methods: {
            click(page_num) {
                if (this.paginate_method(page_num)) {
                    this.active_page_num = page_num
                }
            }
        }
    }
</script>

<style scoped>
ul {
    display: flex
}

</style>>

