<template lang="pug">
	div
		div(v-if="isIE" class="IE")
			.wrapperIE
				p Ваш браузер устарел скачайте новый
				div.urlIE
					a(href="https://www.google.com/chrome/") Chrome
					a(href="https://www.mozilla.org/ru/firefox/new/") Firefox
					a(href="https://www.opera.com/ru") Opera
		div(v-else)#defaultLayout
			Header
			//h1 {{layoutHeight}}
			nuxt
			Footer#footer
</template>

<script>
	import Header from "~/components/Header";
	import Footer from "~/components/Footer";

	export default {
		components: {
			Header,
			Footer
		},
		data() {
			return {
				isIE: false,
				//layoutHeight: newLayoutHeight
			};
		},

		mounted() {
			this.isIE = this.$browserDetect.isIE;

			let layout = document.getElementById('defaultLayout');
			let footer = document.getElementById('footer');

			let layoutHeight = layout.offsetHeight;
			let footerHeight =footer.offsetHeight;
			console.log('footerHeight - ', footerHeight);
			let newLayoutHeight = layoutHeight - footerHeight;

			layout.setAttribute("style", "padding-bottom: " + footerHeight + "px");
			footer.setAttribute("style", "top: calc(100% - " + footerHeight + "px)");
			//console.log(newLayoutHeight);
		}
	};
</script>

<style lang="sass">
	.IE
		position: fixed
		height: 100%
		width: 100%

		.wrapperIE
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		.urlIE
			text-align: center
			margin-top: 50px

			a
				text-decoration: none
				color: black
				margin: 0 20px
</style>
