// image mixin

@mixin imgCover
    width: 100%
    height: 100%
    object-fit: cover

@mixin imgContain
    width: 100%
    height: 100%
    object-fit: contain

// box-shadow
@mixin shadow-1
    -webkit-box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.75)
    -moz-box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.75)
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.75)
