html
    font-size: 14px
*,
*:before,
*:after
    box-sizing: border-box
    margin: 0
    padding: 0
    font-family: 'Rubik', sans-serif
    outline: none !important

.container
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto
    @media (max-width: 960px)
        padding: 0 10px

img
    max-width: 100%
    display: block
