<template>
    <div class="index">
        <a href="./contracts">  /Назад </a>
        <br>
        <h3>Акт Сверки</h3>

        <!-- Акт сверки -- дивчик для кнопок и модалок Возврат, Уценка, Оплата -->
        <div class="box">
            <button type="button" class="btn btn-elegant">Возврат</button>
            <a href="../discount"><button type="button" class="btn btn-amber">Уценка</button></a>
            <button type="button" class="btn btn-indigo">Оплата</button>
        </div>

        <!-- Акт сверки -- ФИО конкретно одного клиента -->
        <div>
            <h5>Dustin Mckinney</h5>
        </div><br>

        <!-- Акт сверки СПИСОК -- список-таблица конкретно одного клиента -->
        <div class="list">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Категории</th>
                <th scope="col">Модель</th> 
                <th scope="col">Дата изготовления</th>   
                <th scope="col">Общая сумма</th>    
                <th scope="col">Опции</th>               
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>Мужской</td>
                    <td>ХХИ-12</td> 
                    <td>25.12.2018</td>
                    <td>2514</td>
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>               
                </tr>
            </tbody>
            </table>
                 
        </div><br>       
       
        <!-- Акт сверки -ВОЗВРАТ -- список-таблица конкретно одного клиента -->
        <h5>Возврат</h5>
        <div class="return">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Модель</th> 
                <th scope="col">Пара</th>   
                <th scope="col">Цена</th>    
                <th scope="col">Общая сумма</th>
                <th scope="col">Опции</th>                 
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>ХХИ-12</td> 
                    <td>1280</td>
                    <td>200</td>
                    <td>2514</td>
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>               
                </tr>
            </tbody>
            </table>
                 
        </div> <br>      
        
        <!-- Акт сверки -ОПЛАТА -- список-таблица конкретно одного клиента -->
        <h5>Оплата</h5>
        <div class="payment">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Дата оплаты</th> 
                <th scope="col">Сумма оплаты</th>   
                <th scope="col">Вид платежа</th>    
                <th scope="col">Опции</th>                 
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>12.12.2018</td>
                    <td>2020</td>
                    <td>Банк</td>
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>               
                </tr>
            </tbody>
            </table>                 
        </div> <br> 

        <!-- Акт сверки -ИТОГО -- список-таблица конкретно одного клиента -->
        <div class="common">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Всего продано/th> 
                <th scope="col">Возврат продукции</th>   
                <th scope="col">Уценка продукции</th>    
                <th scope="col">Оплачено всего</th>                 
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>122018</td>
                    <td>2020</td>
                    <td>2454</td>
                    <td>22552</td>
                                  
                </tr>
            </tbody>
            </table>                 
        </div> 

        
                    
        

    </div>       
</template>

<script>

export default {
    head: {
        title: "Акт Сверки"
    },
    components: {
    },
    data() {
      return {
        
      };
    }

}
</script>

<style scoped>
.index {
    padding: 30px
}
a {
    color: #4D4949;
    text-decoration: none
}
.list, .return, .payment, .common {
    background-color: #ffffff;
    padding: 10px ;    
}
li a {
    color: #4D4949
}
.box {
    display: flex;
    justify-content: flex-end;
}


</style>





