<template>
    <div class="index">
        <a href="./product">  /Назад </a>
        <br>
        <h4>Категории</h4>        
        <div>
            <mdb-btn color="amber" @click.native="modal = true">Добавить</mdb-btn>
            <mdb-modal :show="modal" @close="modal = false">
            <mdb-modal-header>
                <mdb-modal-title>Добавить категории</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>  
                <!-- Компонент для модалки --> 
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <mdb-input type="text" placeholder="Добавить категории" required />
                        </div>                
                    </div>           
                </form>
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn size="sm" color="indigo" @click.native="modal = false">Закрыть</mdb-btn>
                <mdb-btn size="sm" color="secondary" type="submit">Выполнить</mdb-btn>            
            </mdb-modal-footer>
            </mdb-modal>
        </div>
        <br>
        <!-- Таблица списков категорий --> 
        <div class="categ">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Список категорий</th> 
                <th scope="col">Опции</th>                     
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category, idKey) in category" :key="idKey">            
                    <td>{{category.title}}</td> 
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>               
                </tr>                  
            </tbody>
            </table>     
        </div>       
        
       

        
                    
        

    </div>       
</template>

<script>
import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn, 
         mdbContainer, mdbRow, mdbCol, mdbInput } from 'mdbvue';

 


export default {
    head: {
        title: "Категории"
    },
    components: {
        mdbModal, mdbModalHeader, mdbModalTitle,
        mdbModalBody, mdbModalFooter, mdbBtn,  
        mdbContainer, mdbRow, mdbCol, mdbInput    
    },
    data() {
      return {
        modal: false,
        
      };
    },
    async asyncData({ app }) {
        //Запрос для получения списка персоналов
        const categ = await app.$api("get", "category");
        return {
            category: categ["response"].results,
        }
    },

}
</script>

<style scoped>
.index {
    padding: 30px
}
a {
    color: #4D4949
}
.categ {
    background-color: #ffffff;
    padding: 10px ;
    
}
li a {
    color: #4D4949
}


</style>





