<template>
    <div class="index">
        <a href="./product">  /Назад </a>
        <br>
        <h4>Цвета продукции</h4>
         <!-- Модалка для добавления нового цвета -->
        <div>
            <mdb-btn color="amber" @click.native="modal = true">Добавить</mdb-btn>
            <mdb-modal :show="modal" @close="modal = false">
            <mdb-modal-header>
                <mdb-modal-title>Добавить цвета продукции</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>  
                <!-- Компонент тела для модалки --> 
                 <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <mdb-input type="text" placeholder="Добавить цвет" required />
                        </div>
                        
                    </div>           
                </form>
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn size="sm" color="indigo" @click.native="modal = false">Закрыть</mdb-btn>
                <mdb-btn size="sm" color="secondary" type="submit">Выполнить</mdb-btn>            
            </mdb-modal-footer>
            </mdb-modal>
        </div>      

        <br>
        <!-- Таблица для списков цветов -->
        <div class="color">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Список цветов></th> 
                <th scope="col">Опции</th>                     
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>1</td>
                    <td>Красный</td> 
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>               
                </tr>
            </tbody>
            </table>     
        </div>       
       

        
                    
        

    </div>       
</template>

<script>
import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, mdbModalFooter, mdbBtn,
         mdbContainer, mdbSelect,  mdbRow, mdbCol, mdbInput} from 'mdbvue';




export default {
    head: {
        title: "Цвета"
    },
    components: {
        mdbModal,
        mdbModalHeader,
        mdbModalTitle,
        mdbModalBody,
        mdbModalFooter,
        mdbBtn,  
        mdbRow, 
        mdbCol, 
        mdbInput     
    },
    data() {
      return {
        modal: false,
        
      };
    }

}
</script>

<style scoped>
.index {
    padding: 30px
}
a {
    color: #4D4949
}
.color {
    background-color: #ffffff;
    padding: 10px ;
    
}
li a {
    color: #4D4949
}



</style>





