<template>
    <div class="index">
        <br>
        <h4>Контракты</h4>
        <a href="../createcontract"><button type="button" class="btn btn-amber">Создать контракт</button></a>        
        <br>

        <!-- Таблица списков контрактов и пагинация --> 
        <div class="contracts">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">ID Контракта</th>
                <th scope="col">ФИО</th>
                <th scope="col">Дата</th>
                <th scope="col">Ответственное лицо</th>
                <th scope="col">Сумма долга</th>
                <th scope="col"> Опции</th>            
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>1202212</td>
                    <td>Джон Джонович</td>
                    <td>24.12.2019</td>
                    <td>Айгерим</td>
                    <td>12 333 </td> 
                    <td>
                        <a href="../act"><button type="button" class="btn btn-indigo btn-sm">Акт сверки</button></a> 
                        <a href="../schet"><button type="button" class="btn btn-amber btn-sm">Счет на оплату</button></a> 
                    </td>           
                </tr>
            </tbody>
            </table>

            <nav aria-label="">
            <ul class="pagination pagination-sm  justify-content-end">
                <li class="page-item"><a class="page-link" href="#">Предыдущий</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Следующий</a></li>
            </ul>
            </nav>        
        </div>       

        
                    
        

    </div>       
</template>

<script>
//импортируем компоненты стилей (Material Designe for Bootstrap)
import { mdbBtn, mdbContainer, mdbSelect,  mdbRow, mdbCol, mdbInput } from 'mdbvue';



export default {
    head: {
        title: "Контракты"
    },
    components: {        
        mdbBtn, mdbInput,  
        mdbRow, mdbCol, 
    },
    
    
}
</script>

<style scoped>
.index {
    padding: 10px
}
.contracts {
    background-color: #ffffff;
    padding: 10px ;
    
}
li a {
    color: #4D4949
}


</style>





