<template>
    <div class="index">
        <a href="./contracts">  /Назад </a>
        <br>
        <h4>Создания контракта</h4>

        <!-- Форма для создания контракта --> 
        <div class="form">
            <form>
                <div class="form-row">
                    <div class="col-md-6 mb-4">
                        <b-form-select :options="customer"></b-form-select>                        
                    </div>
                    <div class="col-md-3 mb-4">
                        <b-form-select :options="categ"></b-form-select>
                    </div>
                    <div class="col-md-3 mb-4">
                       <b-form-select :options="color"></b-form-select>
                    </div>
                    <div class="col-md-3 mb-4">
                       <b-form-input type="number" placeholder="Цена"></b-form-input>
                    </div>
                    <div class="col-md-3 mb-4">
                       <b-form-input type="number" placeholder="Общая сумма"></b-form-input>
                    </div>
                    <div class="col-md-3 mb-4">
                       <b-form-input type="number" placeholder="Количество"></b-form-input>
                    </div>
                    <div class="col-md-3 mb-4">
                       <b-form-select :options="model"></b-form-select>
                    </div>                    
                </div>
                <button type="button" class="btn btn-amber">Добавить</button>
            </form>
        </div>

        <div class="id">
            <h4>Dustin Mckinney</h4>
            <p>id25488594</p>
        </div>
        
        <!-- Таблица списков контрактов и пагинация --> 
        <div class="contracts">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Фото</th>
                <th scope="col">Модель</th>
                <th scope="col">Категории</th>
                <th scope="col">Цвет</th>
                <th scope="col">Дата</th> 
                <th scope="col">Количество</th> 
                <th scope="col">Цена</th> 
                <th scope="col">Общая сумма</th>  
                <th scope="col">Опции</th>           
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td>1</td>
                    <td>
                        <img src="https://images.boardriders.com/global/dcshoes-products/all/default/hi-res/adys100470_kaliss,p_nwh_frt3.jpg" style="max-width: 50px" alt="">
                    </td>
                    <td>Макасы-Х</td>
                    <td>Женский</td>
                    <td>Черный</td> 
                    <td>25.10.2018</td> 
                    <td>10</td> 
                    <td>2000</td> 
                    <td>20000</td> 
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm">Изменить</button>
                    </td>           
                </tr>
            </tbody>
            </table>
            <button type="button" class="btn btn-amber">Создать контракт</button>          
        </div>       

        
                    
        

    </div>       
</template>

<script>
//импортируем компоненты стилей 
import { mdbBtn, mdbContainer, mdbSelect,  mdbRow, mdbCol, mdbInput } from 'mdbvue';



export default {
    head: {
        title: "Создания контракта"
    },
    components: {        
        mdbBtn, mdbInput,  
        mdbRow, mdbCol, 
    },
    data() {
        return {
            customer: [
                { value: null, text: 'Клиенты' },
                { value: 'a', text: 'Айгерим эже дордой' },
                { value: 'b', text: 'Анара эже дордой' },
            ],
            categ: [
                { value: null, text: 'Категории' },
                { value: 'a', text: 'Мужской' },
                { value: 'b', text: 'Женский' },
            ],
            color: [
                { value: null, text: 'Цвета' },
                { value: 'a', text: 'Красный' },
                { value: 'b', text: 'Синий' },
            ],
            model: [
                { value: null, text: 'Модель' },
                { value: 'a', text: 'Макасы-Х' },
                { value: 'b', text: 'Макасы-Х' },
            ],
        }
    }
    
    
}
</script>

<style scoped>
.index {
    padding: 10px
}
.contracts, .form  {
    background-color: #ffffff;
    padding: 15px ;
    margin: 10px ;    
}
li a {
    color: #4D4949;
    text-decoration: none
}
.id {
    padding: 15px ;
    margin: 10px ;
}
a {
    color: #4D4949;
    text-decoration: none
}

</style>





