<template>
    <div class="index">
        <br>
        <h4>Клиенты</h4>
        <div>
            <mdb-btn color="amber" @click.native="modal = true">Добавить</mdb-btn>
            <mdb-modal :show="modal" @close="modal = false">
            <mdb-modal-header>
                <mdb-modal-title>Добавить клиента</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>  
                <!-- Форма для добавление клиента --> 
                <form>
                    <div class="form-row">
                        <div class="col-md-12">
                            <mdb-input type="text" v-model="name" required />
                        </div>
                        <div class="col-md-12">
                            <mdb-input type="number" v-model="balance" placeholder="Баланс" required />
                        </div>
                    </div>           
                </form>
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn size="sm" color="indigo" @click.native="modal = false">Закрыть</mdb-btn>
                <mdb-btn size="sm" color="secondary" type="submit" @click="createCustomer()" @click.native="modal = false">Выполнить</mdb-btn>            
            </mdb-modal-footer>
            </mdb-modal>
        </div> 


        <br>
        <!-- Таблица списков клиента--> 
        <div class="product">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Баланс</th>
                <th scope="col">Опции</th>                        
                </tr>
            </thead>
            <tbody>
                <tr v-for="(client, idKey) in clients" :key="idKey">            
                    <td>{{client.name}}</td>
                    <td>{{client.balance}}</td>
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm" @click="deleteCustomer(client)">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm"  @click="updateCustomer()">Изменить</button>
                    </td>
                </tr>            
            </tbody>
            </table>
            <Pagination :max_pages="max_pages" :paginate_method="paginate" ></Pagination>       
        </div> 

       

        
                    
        

    </div>       
</template>

<script>
import Pagination from '~/components/Pagination'
import { mdbModal, mdbModalHeader, mdbModalTitle, mdbModalBody, 
        mdbModalFooter, mdbBtn, mdbContainer, mdbRow, mdbCol, mdbInput} from 'mdbvue';

export default {
    head: {
        title: "Клиенты"
    },
    components: {
        Pagination,
        mdbModal,
        mdbModalHeader,
        mdbModalTitle,
        mdbModalBody,
        mdbModalFooter,
        mdbBtn, 
        mdbContainer,
        mdbRow, 
        mdbCol, 
        mdbInput      
    },
    async asyncData({ app }) {
        //Запрос для получения списка персоналов
        const mycus = await app.$api("get", "client");
        return {
            clients: mycus["response"].results,
            max_pages: mycus["response"].total_pages
        };
    },
    data() {
      return {
        modal: false,
        current_page: 1,          
      };
    },
    methods:{
      async paginate(page_num) {
        this.current_page = page_num
        const response = await this.$api('get', this.buildUrl())
        this.client = response['response'].results
        this.max_pages = response['response'].total_pages
        return true
      },
      buildUrl() {
        return `/client?page=${this.current_page}`
      },
        
        // метод для создания нового клиента
        async createCustomer() {
        return await this.$api('post', `client/create`, {
            name: this.name, 
            balance: this.balance
        }, ' application/json', {})
        .then(response => this.responseData = response.data)
        .catch(error => {})
        },





    //   deleteCustomer(client) {
          
    //   }

    }

        


}
</script>

<style scoped>
.index {
    padding: 10px
}
.product {
    background-color: #ffffff;
    padding: 10px ;
    
}
li a {
    color: #4D4949
}



</style>





