<template>
    <div class="index">
        <a href="./contracts">  /Назад </a>
        <br>
        <h3>Уценка</h3>
        <p>Сводная продаж, остатака и уценки модели</p>
        
        <h5>Dustin Mckinney</h5> 
        <br>       
        <!-- Уценка -- Сводная продаж, остатака и уценки модели -->
        <div class="color">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Модель</th>
                <th scope="col">Упаковок</th> 
                <th scope="col">Пар</th>                    
                <th scope="col">Цена</th>  
                <th scope="col">Сумма</th>  
                <th scope="col">Пары</th>  
                <th scope="col">Упаковка</th>  
                <th scope="col">В мешках</th> 
                <th scope="col">Цуны</th>  
                <th scope="col">Сумма</th>
                </tr>
            </thead>
            <tbody>
                <tr>            
                    <td> 
                        <img src="https://images.boardriders.com/global/dcshoes-products/all/default/hi-res/adys100470_kaliss,p_nwh_frt3.jpg" style="max-width: 50px" alt="">
                    </td>
                    <td>Макасы-Х</td> 
                    <td>Мужской</td>  
                    <td>Серий</td>   
                    <td>25.12.2018 12:15</td>   
                    <td>1280</td>   
                    <td>500</td>   
                    <td>12</td> 
                    <td>1230</td>   
                    <td>12560</td>                  
                </tr>
            </tbody>
            </table>     
        </div>       
       

        
                    
        

    </div>       
</template>

<script>




export default {
    head: {
        title: "Уценка"
    },
    components: {
          
    },
    data() {
      return {
       
      };
    }

}
</script>

<style scoped>
.index {
    padding: 30px
}
a {
    color: #4D4949
}
.color {
    background-color: #ffffff;
    padding: 10px ;
    
}
li a {
    color: #4D4949
}



</style>





