<template>
  <div class="index">
    <br />
    <h4>Продукция на складе</h4>
    <br />
    <div class="product">
      <table  class="table table-striped table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">Категории</th>
            <th scope="col">Модель</th>
            <th scope="col">Цвет</th>
            <th scope="col">Количество</th>
            <th scope="col">Фото</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(product, idKey) in product" :key="idKey">
            <td>{{product.category.title}}</td>
            <td>{{product.model.title}}</td>
            <td>{{product.color.title}}</td>
            <td>{{product.count}}</td>
            <td>
              <img :src="product.image" style="max-width: 50px" alt />
            </td>
          </tr>
        </tbody>
      </table> 
      <Pagination :max_pages="max_pages" :paginate_method="paginate" ></Pagination>       
    </div>
  </div>
</template>

<script>
  import Pagination from '~/components/Pagination'

  export default {
    head: {
      title: "Главная"
    },
    components: {
      Pagination
    }, 
    async asyncData({ app }) {
      //Запрос для получения списка продукций
      const index = await app.$api("get", "product");
      return {
        product: index["response"].results,
        max_pages: index["response"].total_pages
      }
    },
    data () {
      return {
        current_page: 1,       
      }
    },
    methods:{
      async paginate(page_num) {
        this.current_page = page_num
        const response = await this.$api('get', this.buildUrl())
        this.product = response['response'].results
        this.max_pages = response['response'].total_pages
        return true
      },
      buildUrl() {
        return `/product?page=${this.current_page}`
      },

    },
  }
</script>

<style scoped>
.index {
  padding: 10px;
}
.product {
  background-color: #ffffff;
  padding: 10px;
}
li a {
  color: #4d4949;
}
</style>





