<template>
  <div class="index">
    <h4>Сотрудники</h4>
    <div>
      <mdb-btn color="amber" @click.native="modal = true">Добавить</mdb-btn>
      <mdb-modal :show="modal" @close="modal = false">
        <mdb-modal-header>
          <mdb-modal-title>Добавить сотрудника</mdb-modal-title>
        </mdb-modal-header>
        <mdb-modal-body>
          <!-- Форма для добавления персонала -->
          <form>
            <div class="form-row">
              <div class="col-md-12">
                <mdb-input v-model="name"  type="text" placeholder="ФИО сотрудника" required/>
              </div>
              <div class="col-md-12">
                <mdb-input v-model="position" type="text" placeholder="Должность" required/>
              </div>
            </div>
          </form>
        </mdb-modal-body>
        <mdb-modal-footer>
          <mdb-btn size="sm" color="indigo" @click.native="modal = false">Закрыть</mdb-btn>
          <mdb-btn size="sm" color="secondary" type="submit" @click="createCustomer()"  @click.native="modal = false">Выполнить</mdb-btn>
        </mdb-modal-footer>
      </mdb-modal>
    </div>

    <br />
    <!-- Таблица списков персонала -->
    <div class="personal">
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Опции</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(face, idKey) in face" :key="idKey">
            <td>{{face.name}}</td>
            <td>{{face.position}}</td>
            <td>
              <button type="button" class="btn btn-indigo btn-sm" @click="deleteCustomer(face)" >Удалить</button>
              <button type="button" class="btn btn-amber btn-sm" @click="editCustomer(face)">Изменить</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- пагинация -->
      <Pagination :max_pages="max_pages" :paginate_method="paginate" ></Pagination>     
        
    </div>
  </div>
</template>

<script>
import Pagination from '~/components/Pagination'
//Импортируем компоненты стилей (Material Designe for Bootstrap)
import {
  mdbModal,
  mdbModalHeader,
  mdbModalTitle,
  mdbModalBody,
  mdbModalFooter,
  mdbBtn,
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbInput
} from "mdbvue";

export default {
  head: {
    title: "Сотрудники"
  },
  components: {
    Pagination,
    mdbModal,
    mdbModalHeader,
    mdbModalTitle,
    mdbModalBody,
    mdbModalFooter,
    mdbBtn,
    mdbRow,
    mdbCol,
    mdbInput
  },
  async asyncData({ app }) {
    //Запрос для получения списка персоналов
    const personal = await app.$api("get", "face");
    return {
      face: personal["response"].results,
      max_pages: personal["response"].total_pages
    }
  },

  data() {
    return {
      modal: false,
      current_page: 1 ,
    };
  },
  methods:{
    // пагинация
    async paginate(page_num) {
      this.current_page = page_num
      const response = await this.$api('get', this.buildUrl())
      this.face = response['response'].results
      this.max_pages = response['response'].total_pages
      return true
    },
    buildUrl() {
      return `/face?page=${this.current_page}`
    },

    // метод для создания нового сотрудника
    async createCustomer() {
      return await this.$api('post', `face/create`, {
        name: this.name, 
        position: this.position
      }, ' application/json', {})
      .then(response => this.face = face.results)
      .catch(error => {})
      
    },

    // метод для изменения данных о сотруднике
    async editCustomer() {
      return await this.$api('put', `face/${id}/edit/`, {
        name: this.name, 
        position: this.position
      }, ' application/json', {})
      .then(response => this.responseData = response.data)
      .catch(error =>  console.log(error))
    },

    // метод для удаления сотрудника
    async deleteCustomer(face) {
      return await this.$api('delete', `face/${id}/delete/`, {
      }, 'application/json', {})
    },

 






  }
}  
</script>

<style scoped>
.index {
  padding: 10px;
}
.personal {
  background-color: #ffffff;
  padding: 10px;
}
li a {
  color: #4d4949;
}
</style>




ls++++  