<template>
    <div class="index">
        <br>
        <h4>Добавление продукции</h4>        
         <!--Компонент для добавления Категорий, Моделей и Цветов-->
        <Details></Details>
        <br>
        <!--Добавления продукции-->
        <div>
            <mdb-btn color="amber" @click.native="modal = true">Добавить товар</mdb-btn>
            <mdb-modal :show="modal" @close="modal = false">
            <mdb-modal-header>
                <mdb-modal-title>Добавление продукции</mdb-modal-title>
            </mdb-modal-header>
            <mdb-modal-body>  
                <!-- Форма для добавления продукции --> 
                <form>
                    <div class="form-row">
                        <div class="col-md-6 mb-4">
                            <b-form-select :options="category" v-model="categoty"></b-form-select>                    
                        </div>
                        <div class="col-md-6 mb-4">
                            <b-form-select :options="model" v-model="model"></b-form-select>                     
                        </div>
                        <div class="col-md-6 mb-4">
                            <b-form-select :options="color" v-model="color"></b-form-select>  
                        </div>
                        <div class="col-md-6 mb-4">
                            <b-form-input type="number" placeholder="Количество" required v-model="count"></b-form-input> 
                        </div>  
                        <div class="col-md-12 mb-4">
                            <b-form-file placeholder="Выберите изображение" v-model="image"></b-form-file>                                       
                        </div>
                        <div class="col-md-6 mb-4">
                            <b-form-input type="date" required v-model="crated_at"> </b-form-input>                                       
                        </div>
                        <div class="col-md-6 mb-4">
                            <b-form-input type="time" required v-model="crated_at"> </b-form-input>                                       
                        </div>
                        <div class="col-md-12 mb-4">
                            <b-form-select :options="personal" v-model="face"></b-form-select>                    
                        </div>                                                                          
                    </div>           
                </form>   
            </mdb-modal-body>
            <mdb-modal-footer>
                <mdb-btn size="sm" color="indigo"    @click.native="modal = false" >Закрыть</mdb-btn>
                <mdb-btn size="sm" color="secondary" @click.native="modal = false"  @click="createProduct()">Выполнить</mdb-btn>            
            </mdb-modal-footer>
            </mdb-modal>
        </div>                 
       
        <br> 
         <!-- Таблица для списков продукции и пагинация --> 
        <div class="product">
            <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                <th scope="col">Категории</th>
                <th scope="col">Модель</th>
                <th scope="col">Цвет</th>
                <th scope="col">Количество</th>
                <th scope="col">Фото</th>
                <th scope="col">Дата</th>
                <th scope="col">Ответственное лицо</th>
                <th scope="col">Опции</th>
                </tr>
            </thead>
            <tbody>
                <tr  v-for="(productadd, idKey) in productadd" :key='idKey'>            
                    <td>{{productadd.category.title}}</td>
                    <td>{{productadd.model.title}}</td>
                    <td>{{productadd.color.title}}</td>
                    <td>{{productadd.count}}</td>
                    <td><img :src="productadd.image" style="max-width: 50px" alt=""></td>
                    <td>{{productadd.created_at}}</td>
                    <td>{{productadd.face.name}}</td>
                    <td>
                        <button type="button" class="btn btn-indigo btn-sm" @click="deleteProduct()">Удалить</button>
                        <button type="button" class="btn btn-amber btn-sm"  @click="updateProduct()" >Изменить</button>
                    </td>
                </tr>               
            </tbody>
            </table>
            
            <Pagination :max_pages="max_pages" :paginate_method="paginate" ></Pagination>
            
            
        </div>          

    </div>       
</template>




<script>
    import Details from '~/components/option/Details'
    import Pagination from '~/components/Pagination'
    //импортируем компоненты стилей
    import {
        mdbModal, 
        mdbModalHeader, 
        mdbModalTitle, 
        mdbModalBody, 
        mdbInput, 
        mdbBtn, 
        mdbContainer, 
        mdbRow, 
        mdbCol,
        mdbModalFooter } from 'mdbvue';


    
    export default {
        head: {
            title: "Продукция"
        },
        components: {
            Details,
            Pagination,
            mdbModal,
            mdbModalHeader,
            mdbModalTitle,
            mdbModalBody,
            mdbModalFooter,
            mdbContainer,
            mdbBtn, mdbRow, 
            mdbCol, mdbInput
                
        },
        async asyncData({ app }) {
            //Запрос для получения списка продукций
            const mypro = await app.$api("get", "productadd");
            return {
                productadd: mypro['response'].results,
                max_pages: mypro['response'].total_pages
            };
        },
    
        data() {
            return {
                modal: false,
                file: null,
                current_page: 1,
                category: [
                    { value: null, text: 'Категории' },
                ],
                model: [
                    { value: null, text: 'Модели' },
                ],
                color: [
                    { value: null, text: 'Модели' },
                ],
                personal: [
                    { value: null, text: 'Ответственное лицо' },
                ]        
            }
        },
        methods : {
            async paginate(page_num) {
                this.current_page = page_num
                const response = await this.$api('get', this.buildUrl())
                this.productadd = response['response'].results
                this.max_pages = response['response'].total_pages
                return true
            },
            buildUrl() {
                return `/productadd?page=${this.current_page}`
            },
            async createProduct() {
            return await this.$api('post', `face/productform/create`, {
                category: this.category,
                model: this.model,
                color: this.color,
                count: this.count,
                image: this.image,
                created_at: created_at,
                face: face,
            }, ' application/json', {})
            .then(response => this.responseData = response.data)
            .catch(error => {})
            },
           
        }
    }
</script>

<style>
    .index {
        padding: 15px
    }
    .product {
        background-color: #ffffff;
        padding: 10px ;
        
    }
    li a {
        color: #4D4949
    }
</style>





