<template>
    <div class="index">
        <br>
        <h4>Аналитика</h4>

        
       
        
                    
        

    </div>       
</template>

<script>


export default {
    head: {
        title: "Аналитика"
    },
    components: {
        
      },

}
</script>

<style scoped>
.index {
    padding: 10px
}




</style>





